* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("./assets/bg_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    position: relative;
    
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.69);
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.navbar {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33333300;
    padding: 10px 20px;
}

.logo h1 {
    position:absolute;
    bottom: 0px;
    right:100px;
    color: white;
}

.StudIT{
    font-family: figtree;
    font-weight: bold;
}

.nav-links {
    position: absolute;
    left: 850px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    position: relative;
    left: 200px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu-icon {
    position: absolute;
    bottom:3px;
    font-size: 24px;
    cursor: pointer;
}

.main-content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.students {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.student {
    width: 20%;
    height: 300px;
    background-color: #555;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.friends-link{
    font-family: Figtree;
    font-weight: 100;
}

.Leaderboard{
    font-family: Figtree;
    font-weight: 100;
}

.Dashboard{
    font-family: Figtree;
    font-weight: 100;
}
/*
.student-1 {
    background-image: url('student1.png'); 
}

.student-2 {
    background-image: url('student2.png'); 
}

.student-3 {
    background-image: url('student3.png');
}

.student-4 {
    background-image: url('student4.png'); 
}*/
